@import url(./template.css);

.product__description.base-padding {
  padding: 0;
  border-radius: 0px;
}

body {
  padding: 0;
}

.QP624-Oneblade .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.QP624-Oneblade img {
  margin: 0;
}

.QP624-Oneblade p {
  padding: 0;
  margin: 0;
}

.QP624-Oneblade h3 {
  padding: 0;
  margin: 0;
}

.QP624-Oneblade ul {
  padding: 0;
}

.QP624-Oneblade ul li {
  padding: 0;
}

.QP624-Oneblade {
  overflow: hidden;
}

.QP624-Oneblade div {
  padding: 0;
  width: initial;
}

.QP624-Oneblade br {
  display: block;
}

.product__body .el-tabs__header {
  z-index: 6;
}
